<!DOCTYPE html>
<!-- Designined by CodingLab | www.youtube.com/codinglabyt -->
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <title> Drop Down Sidebar Menu | CodingLab </title>
    <link rel="stylesheet" href="main.css">
    <!-- Boxiocns CDN Link -->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
<style>
  .txt_field label{
  position:absolute;
  top: 50%;
  left: 5px;
  color: #252020;
  transform: translateY(-50%);
  font-size: 16px;
  pointer-events: none;
  transition: .5s;
}
form .txt_field{
  position: relative;
  margin: 30px 0;
  width:440px;
}
.input_name{
  border-radius: 10px;
  background-color:rgb(221, 217, 217);
  width: 100%;
  padding: 0 5px;
  height: 40px;
  font-size: 16px;
  border: none;
  outline: none;
}
.home-section form{
  padding: 0 40px;
  box-sizing: border-box;
}
.form_design{
  margin-top:40px;
  width:400px;
}
.add_made{
  width: 420px;
  height:100px;
  border-radius: 10px;
  background-color: #6258e2;
  border-color: white;
  font-size:20px;
}
.input_pw{
  word-wrap:break-word;  
  border-radius: 10px;
  background-color:silver;
  width: 100%;
  padding: 0 5px;
  height:100px;
  font-size: 16px;
  border: none;
  outline: none;
  border-bottom: 2px solid #adadad;
}
.add_title{
  font-size:20px;
  font-style:normal;
}
.txt_field input:focus ~ label,
.txt_field input:valid ~ label{
  font-size:15px;
  top: -0.001px;
  color: #2691d9;
}
</style>
<body>
  <div class="sidebar close">
    <div class="logo-details">
      <i class='bx bx-menu' ></i>
      <span class="logo_name">옷짱</span>
    </div>
    <ul class="nav-links">
      <li>
        <div class="iocn-link">
          <a href="/login">
            <i class='bx bx-closet'></i>
            <span class="link_name">옷장</span>
          </a>
        </div>
      
      </li>
      <li>
        <div class="iocn-link">
          <a href="/codyregister">
            <i class='bx bx-body' ></i>
            <span class="link_name">코디</span>
          </a>
        </div>
       
      </li>
      <li>
        <div class="iocn-link">
          <a href="#">
            <i class='bx bx-group' ></i>
            <span class="link_name">팔로잉</span>
          </a>
          <i class='bx bxs-chevron-down arrow' ></i>
        </div>
        <ul class="sub-menu">
          <li><a class="link_name" href="#">팔로잉</a></li>
          <li><a href="#">최범준</a></li>
          <li><a href="#">정유민</a></li>
          <li><a href="#">오승민</a></li>
        </ul>
      </li>
      <li>
        <div class="iocn-link">
          <a href="#">
            <i class='bx bxs-plus-square' ></i>
            <span class="link_name">추가</span>
          </a>
          <i class='bx bxs-chevron-down arrow' ></i>
        </div>
        <ul class="sub-menu">
          <li><a class="link_name" href="#">추가</a></li>
          <li><a href="#">친구추가</a></li>
          <li><a href="#">옷장추가</a></li>
          <li><a href="#">코디추가</a></li>
        </ul>
      </li>
      <li>
        <a href="#">
          <i class='bx bx-store' ></i>
          <span class="link_name">거래</span>
        </a>
        <ul class="sub-menu blank">
          <li><a class="link_name" href="#">거래</a></li>
        </ul>
      </li>     
      <li>
        <a href="#">
          <i class='bx bx-cog' ></i>
          <span class="link_name">설정</span>
        </a>
        <ul class="sub-menu blank">
          <li><a class="link_name" href="#">설정</a></li>
        </ul>
      </li>
      <li>
    <div class="profile-details">
      <div class="profile-content">
      </div>
      <div class="name-job">
        <div class="profile_name"><%=user %>님</div>
        <div class="job">Web Desginer</div>
      </div>
      <i class='bx bx-log-out' ></i>
    </div>
  </li>
</ul>
  </div>
  <section class="home-section">
    <div class="home-content">
      <span class="text">옷 등록</span>  
    </div>
    <div class="form_design">
    <form action="/" method="POST" enctype="multipart/form-data">
        <span class="add_title">옷 등록하기</span>
        <div class="txt_field">
          <input name="testimage" onchange="readURL(this)" type="file" required/>
          <img id="preview" style ="width:440px;justify-content: center;
          align-items: center;
          border-radius: 5px;
          transition: 0.4s; height:420px;"/>
          <span></span>      
        </div>
        <div class="txt_field">
          <input style="display:none;" name="userid" type="text" value="<%=user %>"required/>
          <span></span>
          <label></label>
        </div>
      <div class="txt_field">
        <input class="input_name" name="testnum" type="text" required/>
        <span></span>
        <label>제품명</label>
      </div>
      <div class="txt_field">
        <input class="input_name" name="size" type="text" required/>
        <span></span>
        <label>사이즈</label>
      </div>
      <div class="txt_field">
        <input style="width:410px;" class="input_name" name="price" type="text" required/>
        <label>가격</label>
        <span>원</span>

      </div>
      <div class="txt_field">
        <span>옷 분류: </span> 
                <select name = 'spec'>
          <option value="상의">상의</option>
          <option value="하의">하의</option>
          <option value="아우터">아우터</option>
          <option value="신발">신발</option>
          <option value="기타">기타</option>
          </select>
        <span>옷장 분류: </span> 
        <select name = 'closet_spec'>
          <option value="전체">전체</option>
          <option value="봄">봄</option>
          <option value="여름">여름</option>
          <option value="가을">가을</option>
          <option value="겨울">겨울</option>
          </select>
          <span>세탁방법: </span>
                <select name = 'dry'>
          <option value="잘모름">잘모름</option>
          <option value="물세탁">물세탁</option>
          <option value="드라이클리닝">드라이클리닝</option>
          <option value="특별세탁">특별세탁</option>
          <option value="손빨래">손빨래</option>
          </select>
      </div>
      <div class="txt_field">
 
       
        <span></span>      
      </div>
    
      <div>
        <button type="submit" class="add_made">등록 완료</button>
      </div>
    </form>
    </div>
  </section>

  <script src="script.js"></script>

</body>
<script src="https://unpkg.com/magic-snowflakes/dist/snowflakes.min.js"></script>
<script>
      var sf = new Snowflakes();

</script> 
</html>
